@font-face {
	font-family: 'dinregularwebfont';
	src: url('../fonts/dinregularwebfont.eot') format('truetype');
	src: local('dinregularwebfont'), url('../fonts/dinregularwebfont.woff') format('woff'), url('../fonts/dinregularwebfont.ttf') format('truetype');
}