// Grid Columns
$grid-cols: 12;

// Cores
$focus-color: #333333;
$black: #000;
$white: #fff;
$gray: #ccc;
$secondary-color: #939393;
$light-gray : #dddcdc;
$lightest-gray: #efeeed;
$medium-gray: #666;
$red: #ff0000;

$pool-green: #00c8b3;
